<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-6 col-ml-12">
            <div class="row">
                <!-- basic form start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Basic form</h4>
                            <form th:action="@{/train}" method="POST">
                                <div class="form-row align-items-center">
                                    <div class="col-sm-3 my-1">
                                        <label class="sr-only" for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Train name">
                                    </div>

                                    <div class="col-sm-3 my-1">
                                        <label class="sr-only" for="model">Model</label>
                                        <input type="text" class="form-control" id="model" placeholder="Train model">
                                    </div>

                                    <div class="col-sm-3 my-1">
                                        <label class="sr-only" for="capacity">Capacity</label>
                                        <input type="text" class="form-control" id="capacity" placeholder="Train capacity">
                                    </div>

                                    <div class="col-sm-3 my-1">
                                        <label class="sr-only" for="speed">Capacity</label>
                                        <input type="text" class="form-control" id="speed" placeholder="Train speed">
                                    </div>


                                    <div class="col-auto my-1">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- basic form end -->





            </div>
        </div>
    </div>
</div>