<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restaurant Reservation Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="search.css" rel="stylesheet" />
</head>
<body>
<div class="testbox">
    <form action="/">

        <div class="item">
<!--            <p>Email</p>-->
            <input type="email" name="email"placeholder="name"/>
        </div>
        <div class="item">
<!--            <p>Email</p>-->
            <input type="email" name="email" placeholder="email"/>
        </div>
        <div class="item">
<!--            <p>Phone</p>-->
            <input type="text" name="phone" placeholder="phone number"/>
        </div>
        <div class="item">
<!--            <p>Reservation Date</p>-->
            <input type="date" name="bdate" required/>
            <i class="fas fa-calendar-alt"></i>
        </div>

        <div class="btn-block">
            <button type="submit" href="/">Search</button>
        </div>
    </form>
</div>
</body>
</html>